<mat-toolbar >  
    <mat-toolbar-row>
        <span class="title-center">{{title}}</span>
    </mat-toolbar-row>



    <mat-toolbar-row>
      
      <span class="title-center">
        <button mat-button href="www.torquepower.com">Home</button>
        <button mat-button routerLink="/retailportal">Retail</button>
        <button mat-button routerLink="/clearance">Clearance</button>
        <button mat-button routerLink="/trade">Trade Portal</button>

        <button mat-button [matMenuTriggerFor]="menu">Quotes</button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>Settings</button>
              <button mat-menu-item routerLink="/quotes">Service</button>
          </mat-menu>

        <button mat-button routerLink="/fullparts">Complete Parts List</button>
      </span>
    
      
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar>
      <span>Torque Power Diesel - Cummins Parts </span>
    
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>

      <button mat-button routerLink="/retailportal">Retail</button>

    </mat-toolbar>

    <mat-divider style="margin-top: 6px; margin-bottom:6px"></mat-divider>
    <router-outlet></router-outlet>
    <mat-divider style="margin-top: 6px; margin-bottom:6px"></mat-divider>
    
    
    
    <div style="margin-top: 6px; margin-bottom:6px"></div>
  <!--<input matInput placeholder="Part Code or Description" style="width:450px; margin-right:6px" [(ngModel)]="searchText" (keydown)="keyDownFunction($event)"
   // />-->
    <!--
    <button mat-raised-button color="warn" (click)="testsearch()">
      Search
    </button>
    -->
    <button mat-icon-button color="warn" (click)="testsearch()">
      <mat-icon aria-label="Example icon-button with a search icon">search</mat-icon>
    </button>
<footer>
  <div>links to social media</div>
  <div>get it on platform stuff</div>
  <div>Copyright © 2018, Torquepower Diesel (Australia) Pty Ltd
  </div>
</footer>
